//
// "base" partial
//
// To make it easier to use all variables and mixins in any Sass file in this
// theme, each .scss file has a @import "base" declaration. And this _base.scss
// file is in charge of importing all the other partials needed for the theme.
//

//
// Font faces, stacks and sizes.
//

// The following font family declarations are based on the Microsoft core web
// fonts which are common fonts available on most computer systems. The DejaVu
// and Nimbus Sans fonts are commonly available on Linux systems where the MS
// fonts are less common. Tahoma and Helvetica are also widely available.
//
// A user's web browser will look at the comma-separated list and will
// attempt to use each font in turn until it finds one that is available
// on the user's computer. The final "generic" font (sans-serif, serif or
// monospace) hints at what type of font to use if the web browser doesn't
// find any of the fonts in the list.

// First, let's create some font stacks.
$times-new-roman: "Times New Roman", Times, Georgia, "DejaVu Serif", serif;
$verdana:         Verdana, Tahoma, "DejaVu Sans", sans-serif;
$arial:           Arial, Helvetica, "Nimbus Sans L", sans-serif;

// For an explanation of why "sans-serif" is at the end of this list, see
// http://meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/
$courier:         "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Now create some variables for the font stacks we want to use on this site.
$base-font-family: $arial;
$font-monospace:   $courier;

// Add a custom Google font to be used in page branding and other callout regions
@import url(//fonts.googleapis.com/css?family=Crimson+Text:400,600);
$callout-font-family: "Crimson Text", serif;

//
// Colors, etc.
//

$base-font-size: 13;

$base-color: #005029; //green
$base-color-light: #063; //green
$base-color-dark: #030; //dark green

$contrast-color: #fc3; //gold
$contrast-color-light: #ffc; //gold
$contrast-color-dark: #fb0; //gold

$background-color-main: #e6e6e6; //gray - page background
$background-color-sub: #ccc; //gray - sidebar second
$border-color-dark: #4d574d; //gray used for borders on dark green
$background-color-box: #e3e3e3; //gray - news/events boxes
$background-color-white: #fff; //white

$other-color-blue: #069; //useoc blue

$zone-min-width: 320px; //set up the smallest width for elements to collapse down to



//set up some breakpoint sizes to be used when necessary
//for the most part we will let omega's responsive method handle the different screen size styles (and this is done using different stylesheets
//however on some project that require an additional CSS file created in the modules directory (sports, admissions slider etc.) we will use breakpoint to handle the media queries
//be sure to test these styles on non-compliant browsers to make sure they are degrading nicely
$breakpoint-portrait: max-width 479px; //mobile devices in portrait mode.  these will not apply upwards
$breakpoint-mobile: max-width 739px;  //mobile devices in landscape OR portrait mode.  these will not apply upwards to other styles BUT will apply downwards.
$breakpoint-narrow: min-width 740px;  //styles from narrow up will be additive
$breakpoint-normal: min-width 980px;
$breakpoint-wide: min-width 1220px;

@import "mixin";
@import "compass";
@import "breakpoint";
