/* This file will hold styles that are loaded using the same media query as the wide grid. */

@import "base";

//For non-responsive browsers and pages set to not use the responsive grid, load the narrow and normal stylesheets
@import 'omega-nmu-alpha-default-narrow';
@import 'omega-nmu-alpha-default-normal';

//import modules
@import 'modules/nmu-homepage-wide';
@import 'modules/admissions-intro-wide';
@import 'modules/hp-blocks-wide';

//possibly do an import of the narrow and normal CSS files here to make sure that they are loaded even when the responsive grid is turned off

//----------------------------------------------sidebars
#region-sidebar-first {
	width:180px; //default: 180
}

#region-sidebar-second {
	width:205px; //default: 280
}

//----------------------------------------------content
#zone-content {
	//extra grid sizes for non-omega template
	.grid-reset {
		.grid-1 {width: 78px;} //12/1=12
		.grid-2 {width: 175px;} //12/2=6
		.grid-3 {width: 275px;} //12/3=4
		.grid-4 {width: 373px;} //12/4=3
		.grid-5 {width: 471px;} //12/5=2.4
		.grid-6 {width: 570px;} //12/6=2
		.grid-7 {width: 674px;} //12/7=1.7 ==> 1180/1.7=694 ==> 694-20=674
		.grid-8 {width: 766px;} //12/8=1.5
		.grid-9 {width: 867px;} //12/9=1.33
		.grid-10 {width: 963px;} //12/10=1.2
		.grid-11 {width: 1062px;} //12/11=1.09
		.grid-12 {width: 1180px;} //12/12=1
	}

	.grid-7 {  // sidebar-first | content | sidebar-second
		width:775px; //default: 680
	}
	.grid-9 { // content | sidebar-second
		width: 955px;
	}
	.grid-10 { // sidebar-first | content
		width: 1000px;
	}
	.grid-12 { // content
		background-image:none;
		width: 1180px;
	}
}

//----------------------------------------------postscript
.postscript_region {
	margin-left:20px;
	width:145px;
}

.postscript_region_first { //this style needs to follow .postscript_region in order for it to overwrite the styles properly
	margin-left:30px;
}

//----------------------------------------------footer
#footer_region_second {
	margin-left:0px;
}

#footer_region_third { //move this to the left side of the footer and put it beneath the logo
	margin-left:80px;
}

