// This file will hold print styles for all versions of your website

@import "base";

// zones & regions to hide for printers
#zone-header,
#zone-menu,
#sidebar_mobile_header,
#region-sidebar-first,
#branding_nav_icon,
#zone-postscript,
#footer_region_third,
.print_hide,
#NMUBoxA,
#NMUBoxB{
	display:none;
}

// drupal tabs and toolbars to hide for printers
div.tabs,
div#toolbar {
	display:none !important;
}

// tweaks for page elements
body,
#zone-branding-wrapper,
#zone-footer-wrapper {
	background-color:white;
}
#region-branding {
	margin:0;
}
.main-title {
	padding:0;
}
#zone-branding {
	color:black;
	font-family:$callout-font-family;
	font-size: 18em / $base-font-size;
	background-color:white;
	border-bottom:3px solid #ccc;
	margin-bottom:10px;
}
#zone-branding .sub_titles {
	display:none !important;  //firefox wants to print these
}

#footer_region_first{
  -webkit-print-color-adjust:exact;  //tell webkit browsers to print background images or colors
	background-image: url('/sites/all/themes/nmu/images/nmu_logo_black.png');
	background-size:188px 71px;
	background-repeat:no-repeat;
	height:75px;
	width:190px;
	margin: 0 auto;
}

#footer_region_first img {
	display:none;
}

#footer_region_second {
	color:black;
	width:450px;
	margin: 0 auto;
}
#footer_region_second a {
	color:black;
}
.mobile_break {
	display:inline;
	padding-left:5px;
}
.overflow-table {  //allow a table to scroll to the left and right in mobile view (this will be placed on a div surrounding the table)
	width:101%;  //having this at 101% allows webkit browsers to hide the scrollbar when there actually is room for the content
	overflow-x: visible;
}
