/* This SCSS file contains module styles for the NMU admissions intro page
		these styles are only included on the admissions intro page and will not show up elsewhere
*/

.admissions_main_txt {
	min-height:500px;
	width:295px;
	float:left;
}

.admissions_tile_wrapper {
	min-height:500px;
	float:left;
	margin:0;
}
