/* This SCSS file contains module styles for left dept. homepage column.
	Modules:
		Divider
		Top Story
		Vert Three
		Horiz. Features
		Color Boxes
		Right Buttons
*/

//----------------------------------------------left blocks
#zone-content {
	.content_main_hp1_col {
		width: 455px;
		table {
			width: 445px;
		}
		img {
			max-width: 435px;
		}
	}
}

#zone-content {
	.content_main_hp2_col,
	.content_main_hp3_col {
		width: 515px;
		table {
			width: 505px;
		}
		img {
			max-width: 495px;
		}
	}
}

//allow the left block column to fill up the available space
.panels-flexible-column-student_enrichment-1,
.panels-flexible-column-admissions_transfer-1 {
	width:auto;
}



//----------------------------------------------right blocks
.content_sub_hp1_col {
	width:245px;
	table {
		width: 245px;   //set a table width so the column stays filled with the blocks (done for all sizes)
	}
}
//make sure no images in the right column are wider than the color boxes
#zone-content .content_sub_hp1_col img {
	max-width:220px;
	height: auto !important;
}

//allow the right block column to fill up the available space
.panels-flexible-column-student_enrichment-2,
.panels-flexible-column-admissions_transfer-2 {
	width:auto;
}

.content_sub_hp2_col,
.content_sub_hp3_col {
	width:520px;
	table {
		width: 242px;   //set a table width so the column stays filled with the blocks (done for all sizes)
	}

	.GreenBox,
	.YellowBox,
	.RedBox,
	.BrownBox,
	.OrangeBox,
	.BlueBox,
	.GrayBox,
	.PurpleBox,
	.TealBox,
	.LightBlueBox {
		float:left;
		display:inline;
	}

	table.GreenBox,
	table.YellowBox,
	table.RedBox,
	table.BrownBox,
	table.OrangeBox,
	table.BlueBox,
	table.GrayBox,
	table.PurpleBox,
	table.TealBox,
	table.LightBlueBox  {
		margin-right:10px;
	}

}

//----------------------------------------------GolfCourse
.sub_buttons {
	padding-left:2px;
	padding-right:2px;
}
.int_right_col_item {
	float:left;
	margin-right:7px;
}
.golfcourse_social{
	clear:both;
	padding-top:10px;
}

//----------------------------------------------SportsGateway
#zone-content {
	.content_main_hp4_col {
		width: 430px;
		table {
			width: 420px;
		}
		img {
			max-width: 410px;
		}
	}
}

.content_sub_hp4_col {
	width:260px;  //keep the gray sidebar at it's normal size, too big and the buttons look bad with all the space around them
	table {
		width: 260px;
	}
	padding-left:2px;
	padding-right:8px;  //these two paddings are different in order to keep the gray column content centered
	background-color:$background-color-sub;
	margin-left:10px;  //space needed to make the columns fill up the available space
	margin-right:-10px; //line up the gray bar with the right side of the screen

	//used to make the gray box line up with the bottom of the page
	padding-bottom:30px;
	margin-bottom:-10px;
}
