/* This SCSS file contains module styles for dept. homepages
	Modules:
		Divider
		Top Story
		Vert Three
		Horiz. Features
		Color Boxes
		Right Buttons
*/

//----------------------------------------------left blocks
#zone-content {
	.content_main_hp1_col {
		width: 630px;
		table {
			width: 620px;
		}
		img {
			max-width: 610px;
		}
	}
}

 //this is overriding the default width of the left column of panel pages that include nav (hp2)
.panels-flexible-column-student_enrichment-1,
.panels-flexible-column-admissions_transfer-1 {
	width:660px;
}


#zone-content {
	.content_main_hp2_col {
		width: 650px;
		table {
			width: 640px;
		}
		img {
			max-width: 630px;
		}
	}
}


//----------------------------------------------right blocks
.content_sub_hp1_col {
	width:325px;
	table {
		width:325px;
	}
}

#zone-content .content_sub_hp1_col img {
	max-width:300px;
	height: auto !important;
}

//this is overriding the default width of the right column of panel pages that include nav (hp2)
.panels-flexible-column-student_enrichment-2,
.panels-flexible-column-admissions_transfer-2 {
	width:340px;
}

.content_sub_hp2_col {
	width:340px;
	table {
		width:340px;
	}
}


//----------------------------------------------GolfCourse
.panels-flexible-athletics_sports,
.panels-flexible-usoec {
	width:1010px; //override the default size of the content area
}
#zone-content {
	.content_main_hp3_col {
		width: 730px;  //grow the main column to accommodate the smaller sidebar
		table {
			width: 720px;
		}
		img {
			max-width: 710px;
		}
	}
}

.content_sub_hp3_col {
	width:260px;  //keep the gray sidebar at it's normal size, too big and the buttons look bad with all the space around them
	table {
		width: 260px;
	}
}

.sub_buttons {
	padding: 10px 8px 5px 8px;  //revert to padding used on mobile
}

.int_right_col_item {
	float:none;  //remove float set in narrow
	margin-right:0px;  //remove margin set in narrow
}

.golfcourse_social {
	padding-top:0px;
}


//----------------------------------------------SportsGateway
#zone-content {
	.content_main_hp4_col {
		width: 910px;
		table {
			width: 900px;
		}
		img {
			max-width: 890px;
		}
	}
}

.content_sub_hp4_col {
	width:260px;  //keep the gray sidebar at it's normal size, too big and the buttons look bad with all the space around them
	table {
		width: 260px;
	}
}
