/* This SCSS file contains module styles for the main NMU homepage in narrow view
	Modules:
		Main Image
		What's Happening
		Upcoming Events
		News
		Box A/B
		Emergency Alert
*/

@import "compass/css3/opacity";
@import "base";

.panels-flexible-nmu_home_panel {
	width:600px;  //this width was set to the size of the main image component, allowing it to be centered on the page in the narrow grid
	position: relative;
}

.panels-flexible-column-nmu_home_panel-11 {
	width:300px;  //this is the size of the news panel, it needs to be shrunk to stack next to the events section.
}

/* main image component */
#gallery_container {
	width:600px;  //this is kept at its default size and centered
	height:487px;
}

#image_caption {
	bottom:1%;
}

/* Fearless Minds */
#FearlessMinds {
	width: 373px;
}

.FearlessTopNav {
	img.FearlessVisit {width:114px !important;}
	img.FearlessConnect {width:142px !important;}
	img.FearlessApply {width:117px !important;}
}


/* events and news components */
#NMUUpcomingEventsHP,
#NMUFeaturedNews {
		width:295px;
}


/* boxes */
#NMUBoxA,
#NMUBoxB {
	position: absolute;
	left: 380px;
	width:200px;
	height:120px;
}

.social_home {
	position: absolute;
	left: 380px;
	width:200px;
}

#NMUBoxA {
	bottom: 400px;
}

#NMUBoxB,
.social_home {
	bottom: 550px;
}

