/* This SCSS file contains module styles for the revised NMU dept homepages

*/
@import "base";


//start with global styles and then tweak as necessary for narrow, normal and wide views
section.main_wrapper {
	display:none;
}

.cycle-slideshow {
	overflow:hidden;
	height:410px;
	margin:10px 0;
	background:#e6e6e6;
	img {
		padding:5px;
		float:left;
		width:63%;
	}
}

#custom-caption {
	height: 360px;
	//width: 335px;
	width:34.2%;
	padding: 5px;
	float: left;
	overflow: hidden;
	position: relative;
	p:after {
		content: "";
		pointer-events: none; //stop the pseudo element from interfering with selecting text
		position: absolute;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 40%;
		@include background-image(linear-gradient(top, rgba(230, 230, 230, 0), #e6e6e6));
	}
}

.cycle-pager {
	text-align: center;
	//width: 335px;
	width:34.2%;
	display: inline-block;
	span {
		font-size: 25px;
		width: 16px;
		height: 16px;
		padding:0 8px;
		color: #ccc;
		cursor: pointer;
	}
	span.cycle-pager-active {
		color: #000;
	}
}

section.note_1_wrapper,
section.note_2_wrapper,
section.note_3_wrapper {
	float:left;
	width:31.33%;
	padding:0 1%;

	//these styles are for notes with a background color
	//background: #e6e6e6;
	//width:30.5%;
	//margin:0 .4%;
}

.field-name-field-sub-image-1,
.field-name-field-sub-image-2,
.field-name-field-sub-image-3 {
	padding:5px 0;
}

.field-name-field-sub-title-1,
.field-name-field-sub-title-2,
.field-name-field-sub-title-3 {
	font-weight:600;
	font-size:1.2rem;
	padding-bottom:5px;
}

.field-name-field-sub-text-1,
.field-name-field-sub-text-2,
.field-name-field-sub-text-3 {

}

.article_wrapper {
	height:255px;
	overflow: hidden;
	position: relative;

	:after {
	  content: "";
	  pointer-events: none; //stop the pseudo element from interfering with selecting text
	  position: absolute;
	  bottom: -22%;  //the gradient goes to white way too fast to see several lines of text fading out, this moves it down a bit and helps with the transistion
	  right: 0;
	  width: 100%;
	  height: 40%;
	  @include background-image(linear-gradient(top, rgba(255, 255, 255, 0), white));

	  //this style is for notes with a background color
	  //@include background-image(linear-gradient(top, rgba(230, 230, 230, 0), #e6e6e6));
	}

}









//-- sample styles to be copied above --//

//mobile styles will not cascade upwards
@include breakpoint($breakpoint-mobile) {

}

//all other styles will cascade upwards
@include breakpoint($breakpoint-narrow) {

}

@include breakpoint($breakpoint-normal) {

}

@include breakpoint($breakpoint-wide){

}





