/* This SCSS file contains styles that will only be used on the NMU Sports pages (gateway, rec sports and usoec)
	this file is included in the CSS array using the template.php file and is not included in any of the standard nmu styles
*/
@import "base";

//these two areas wil be hidden in all views except for mobile
#zone-branding-wrapper,
#header_region_first {
	display:none;
}

#section-header {
	#zone-header{
		background-image:none;  //remove the header swoop image since it is not used on any sports page
	}
}

//mobile styles will not cascade upwards
@include breakpoint($breakpoint-mobile) {
	//these two areas wil be hidden in all views except for mobile
	#zone-branding-wrapper,
	#header_region_first {
		display:block;
	}

	//hide the big image banner from mobile sizes since the NMU logo block is showing
	.sports-banner {
		display:none;
	}
}

@include breakpoint($breakpoint-narrow) {
	.sports-banner {
		width: 720px;
		padding-top: 25px;  //make room for the search box above the smaller banner
	}
}

@include breakpoint($breakpoint-normal) {
	.sports-banner {
		width: 1000px;
		padding-top: 0px;
	}
}

@include breakpoint($breakpoint-wide){
	#zone-header #header_search {
		margin-top:40px !important;  //move the search down a bit for the wide view
		//the important is needed to override the one set in the default css file
	}
}

/* Gateway page */
#gateway_main {
	ul {
		padding-left:10px;
	}
	li {
		list-style:none;
		padding-bottom:5px;
	}
	h2 {
		line-height:(18em / 16);  //rem sizer mixin won't work here since the base has been reset in the hp styles
		font-size:(26em / 16);
	}
}

.gateway_sport {
	height:220px;
	padding:10px 10px 25px 10px;
	margin-bottom:5px;
	h3 {
		line-height:(18em / 16);  //rem sizer mixin won't work here since the base has been reset in the hp styles
		font-size:(26em / 16);
	}
}

#gateway_athletics {
	border-bottom: dotted 1px $background-color-sub;
	@include breakpoint($breakpoint-mobile) {
		height:310px;  //this keeps the outline beneath the list text
	}
	@include breakpoint($breakpoint-portrait) {
		height:270px;  //this keeps the outline beneath the list text
	}
	@include breakpoint($breakpoint-narrow) {
		height:310px;  //this keeps the outline beneath the list text
	}
	@include breakpoint($breakpoint-normal) {
		height:230px;  //set the height to the size of the pic
	}
	h3 {
		color:$base-color-light;
		a,
		a:visited,
		a:active {
			color:$base-color-light;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

#gateway_usoec {
	clear:both;
	@include breakpoint($breakpoint-mobile) {
		height:350px;  //this keeps the outline beneath the list text
	}
	@include breakpoint($breakpoint-portrait) {
		height:305px;  //this keeps the outline beneath the list text
	}
	@include breakpoint($breakpoint-narrow) {
		height:345px;  //this keeps the outline beneath the list text
	}
	@include breakpoint($breakpoint-normal) {
		height:230px;  //set the height to the size of the pic
	}
	border-bottom: dotted 1px $background-color-sub;
	h3 {
		color:$other-color-blue;
		a,
		a:visited,
		a:active {
			color:$other-color-blue;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

#gateway_recreation {
	clear:both;
	@include breakpoint($breakpoint-mobile) {
		height:310px;  //this keeps the outline beneath the list text
		border-bottom: dotted 1px $background-color-sub;  //add a border in mobile mode to separate the list from the sidebar content
	}
	@include breakpoint($breakpoint-portrait) {
		height:270px;  //this keeps the outline beneath the list text
	}
	@include breakpoint($breakpoint-narrow) {
		//no height needed here since the border is not showing up at this size
	}

	h3 {
		color:$contrast-color;
		a,
		a:visited,
		a:active {
			color:$contrast-color;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

.gateway_pic_div {
	float:left;
	width:360px;
	height:230px; //needed for the links div to appear below the image in mobile view (no idea why)
	@include breakpoint($breakpoint-portrait) {
		height:190px; //needed for the links div to appear below the image in mobile view (no idea why)
		width:$zone-min-width - 20;  //scale down the width so the containing div fits on the screen
		img {
			max-width:280px !important;  //scale down the images
		}
	}
}
.gateway_links_div {
	float:left;
	width:270px;
}

#SportsAnnouncement {
	color:$base-color-light;
	background-color:#fc0;
	margin:-10px -10px 5px -10px;
	padding:5px;
	text-align:center;
	border-bottom: 1px solid #CCC;
	a {
		color:#063;
		font-weight:bold;
	}
}

#watch_the_game {
	text-align:center;
}

table.gateway_teams {
	th {
		color:$contrast-color;
		background-color:$base-color-light;
	}
	td {
		vertical-align: text-top;
	}
}
