/* This SCSS file contains styles that will only be used on the NMU USOEC pages
	this file is included in the CSS array using the template.php file and is not included in any of the standard nmu styles
*/

@import "base";

html body {
	background-color:$other-color-blue;
}

#section-header {
	#zone-header-wrapper {
		background-color:$other-color-blue;
	}

	@include breakpoint($breakpoint-mobile) {

		#region-header-second {
			//the mobile search tools need some space around them with the usoec banner
			padding-top:5px;
			padding-bottom:5px;
		}

		//color the branding zone, only shown in mobile view, the usoec red color
		#zone-branding-wrapper {
			background-color: $other-color-red;
		}
		//change the font color from yellow to white to better fit the red
		#zone-branding {
			color:white;
		}
	}

	#zone-menu-wrapper {
		background-color: $other-color-red;
	}
	#region-menu ul li {
		border-color: #fff;
	}
	#region-menu ul a:hover {
		background-color: $other-color-red;
		color: $other-color-gray;
	}


}

//we want to apply the top margin to all sizes (it is just applied to wide in the sports.scss file)
#zone-header #header_search {
	@include breakpoint($breakpoint-narrow) {
	margin-top:20px !important; //the important is needed to override the one set in the default css file
	}
	@include breakpoint($breakpoint-normal) {
	margin-top:40px !important;
	}
	@include breakpoint($breakpoint-wide) {
	margin-top:60px !important;
	}
}

.sports-banner {
	@include breakpoint($breakpoint-mobile) {
		display:block;
		min-width:320px;
		width:100%;
		height:auto;
		padding-top:5px;
		padding-bottom:5px;
	}
	@include breakpoint($breakpoint-narrow) {
		width: 450px;  //scale down the image to accommodate the search box
		padding-top:5px;  //remove the extra padding added in for the sports banner and search box
		padding-bottom:5px;
	}
	@include breakpoint($breakpoint-normal) {
		width: 750px;  //scale down the image to accommodate the search box
	}
	@include breakpoint($breakpoint-wide) {
		width: 1000px;  //revert to normal size
	}
}

#section-content {

	@include breakpoint($breakpoint-mobile) {
		//these headings are only shown at mobile sizes
		#sidebar_mobile_header,
		.jquery_sidebar_subhead {
			background-color: $other-color-blue;
		}
	}

	#region-sidebar-first {
		//this region will sometimes get space added to the bottom of it, this only happens when logged into drupal
		//padding-bottom: 46px;
		background-color:$other-color-blue;
		ul {
			li:first-child {
				color: $other-color-gray;
			}
			li {
				border-color: $other-color-gray;
			}
			a:hover {
				background-color: $other-color-red;
			}
		}
	}
	#sports_headlines {
		@include breakpoint($breakpoint-wide) {
			border-right: solid 1px $other-color-blue;
			float: left;
			width: 45%;
			padding-right: 2%;
			margin-right: 1%;
			border-bottom:none;
			padding-bottom:0;
		}
		padding-bottom:20px;
		border-bottom: solid 1px $other-color-blue;

		h2 {
			color:$other-color-blue;
		}
		ul	{
			padding:0;
			margin:0;
		}
		li {
			padding-bottom:10px;
			list-style:none;
		}
	}
	#sports_spotlight {
		@include breakpoint($breakpoint-wide) {
			float: left;
			width: 50%;
		}
		th {
			text-align:left;
			color:$other-color-blue;
		}
	}
	.Divider {
		border-color:$other-color-blue;
	}
	th,
	h1,
	h2,
	h3{
		color:$other-color-blue;
	}
}

img.usoec_like_us {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#section-footer {
	#zone-postscript-wrapper {
		background-color: $other-color-red;
	}
	#zone-postscript .postscript_region_head a {
		color: $other-color-gray;
	}

	#zone-footer-wrapper {
		background-color: $other-color-blue;
	}
}

